{extend name="layout/default" /}
{block name="title"}提前还款计算器{/block}
{block name="content"}
	<div class="wrapper">
    	<div class="current_location">
			您当前的位置：<a href="/">首页</a>&nbsp;&gt;&nbsp;<span class="current">贷款顾问</span>
		</div>
		{if condition="$uid eq 1"}
			<div class="house_con adviser_con">			
	            <div class="condition_left fl">
	            	<img src="/assets/img/frontend/kf_photo.png" class="adviser_photo"/>
	            	<div class="info">
	            		<p class="name">管宇 <span>高级贷款顾问</span></p>
	            		<p>推荐星级：<i class="star"></i></p>
	            		<p>
	            			<span>所在地区：北京市</span>
	            			<span>咨询电话：40054215154</span>
	            		</p>
	            		<div class="person_info">
	            			<span>个人简介</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>业务范围</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>商家承诺</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            		</div>
	            	</div>
				</div>
				
	            <div class="fr condition_right">
	        		{include file="common/speed_apply" /}
	 			</div>          
			</div>
		{elseif condition="$uid eq 2"/}
			<div class="house_con adviser_con">			
	            <div class="condition_left fl">
	            	<img src="/assets/img/frontend/kf_photo.png" class="adviser_photo"/>
	            	<div class="info">
	            		<p class="name">管宇 <span>高级贷款顾问</span></p>
	            		<p>推荐星级：<i class="star"></i></p>
	            		<p>
	            			<span>所在地区：北京市</span>
	            			<span style="margin-left: 20px;">咨询电话：40054215154</span>
	            		</p>
	            		<div class="person_info">
	            			<span>个人简介</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>业务范围</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>商家承诺</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            		</div>
	            	</div>
				</div>
				
	            <div class="fr condition_right">
	        		{include file="common/speed_apply" /}
	 			</div>          
			</div>
		{elseif condition="$uid eq 3"/}
			<div class="house_con adviser_con">			
	            <div class="condition_left fl">
	            	<img src="/assets/img/frontend/kf_photo.png" class="adviser_photo"/>
	            	<div class="info">
	            		<p class="name">管宇 <span>高级贷款顾问</span></p>
	            		<p>推荐星级：<i class="star"></i></p>
	            		<p>
	            			<span>所在地区：北京市</span>
	            			<span>咨询电话：40054215154</span>
	            		</p>
	            		<div class="person_info">
	            			<span>个人简介</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>业务范围</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>商家承诺</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            		</div>
	            	</div>
				</div>
				
	            <div class="fr condition_right">
	        		{include file="common/speed_apply" /}
	 			</div>          
			</div>
		{else /} 
			<div class="house_con adviser_con">			
	            <div class="condition_left fl">
	            	<img src="/assets/img/frontend/kf_photo.png" class="adviser_photo"/>
	            	<div class="info">
	            		<p class="name">管宇 <span>高级贷款顾问</span></p>
	            		<p>推荐星级：<i class="star"></i></p>
	            		<p>
	            			<span>所在地区：北京市</span>
	            			<span>咨询电话：40054215154</span>
	            		</p>
	            		<div class="person_info">
	            			<span>个人简介</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>业务范围</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            			<span>商家承诺</span>
	            			<p>546545411个人简介个人简介个人简介211454</p>
	            		</div>
	            	</div>
				</div>
				
	            <div class="fr condition_right">
	        		{include file="common/speed_apply" /}
	 			</div>          
			</div>
		{/if}
		
	</div>
	<div style="clear: both;"></div>
{/block}