    {extend name="layout/default" /}
	{block name="content"}
    {js href="__CDN__/assets/js/frontend/jquery.SuperSlide.2.1.1.js" /}
    <style>
    	.top_div{background-color: transparent;color: #222;}
    	.top_div .span2{color: #222;}
    	.top .span1 i{background: url("/assets/img/frontend/xf-icon.png") no-repeat;float: left;margin-right: 10px;background-position: -96px -42px;display: inline-block; height: 29px; width: 29px; }  
    	.top .span2 i{background: url("/assets/img/frontend/xf-icon.png") no-repeat;float: left;margin-right: 10px;background-position: -138px -76px;display: inline-block; height: 29px; width: 29px; }
    </style>
    <!-- 内容 -->
    <!-- banner -->
    <div class="banner">
        <div id="slideBox" class="slideBox">
        	{include file="common/banner" /}
        </div>
        <!--申请框 start-->
        <div class="register-header-wrap">
            <div class="register_box">
                <p class="h3_title">20秒快速提交申请</p>
                <!--第一步-->
                <div class="form_box">
                    <form id="fastapply">
                    <ul class="ul_list">
                        <li>
                            <input name="truename" id="truename" type="text" class="form_input js-realname" placeholder="请填写真实姓名">
                        </li>
                        <li>
                            <input name="mobile" id="mobile" type="text" class="form_input js-telphone" placeholder="请填写手机号码" maxlength="11">
                        </li>
                         <li>
                            <select id="sex" name="sex" class="sexselect js-sexselect">
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </li>
                        <li>
                            <div id="city_china" class="apply-cityselect">
                                <select class="province" name="province" data-url="/index/Ajax/area"></select>
                                <select class="city" name="city" data-url="/index/Ajax/area"></select>
                                <select class="area district" name="area" data-url="/index/Ajax/area"></select>
                            </div>
                        </li>
                        <li class="agreembox-li">
                            <input type="checkbox" class="agreen_check" checked="checked" style="width: auto">
                            <span style="color: #fff;">已阅读并同意<a style="color: #f63a4a;" class="js_agreen" href="javascript:void(0)">《瑞金金服服务协议》</a></span>
                        </li>
                    </ul>
                    </form>
                    <button type="submit"  class="form_button js-form-applybtn" >立即免费申请</button>
                </div>
                <!--第二步-->
                <div class="complete_box">
                    <p style="margin-bottom: 10px;"> >>未成功放款，不产生任何费用！<< </p>
                    <img src="__CDN__/assets/img/frontend/ok.png"/>
                    <p class="h3_title" style="margin-top: 0">申请成功</p>
                    <p>若符合条件，贷款顾问将在工作时间2小时内与您联系，请保持电话通畅。</p>

                    <p style="border-top: 1px dashed #aaa;margin-top: 15px;padding-top: 5px;">如需联系贷款专员，请拨打电话</p>
                    <p class="red_tel">{$Think.config.site.service_hotline}</p>
                </div>
            </div>
        </div>
        <!--申请框 end-->
    </div>
    
    <div class="wrapper">
        <!-- part1 -->
        <div class="part part1 ">
            <div class="part1_item">
            	<div class="item_left fl">
                    <div class="xy_top fl">信用贷</div>
                    <ul class="loan_sort loan_sort1 clearfix fz18">
                    	{volist name="credit_loan" id="vo"}
                    		<li {eq name="key" value="0"}class="active"{/eq}>{$vo.name}</li>
                    	{/volist}
                        
                        <a href="{:url('index/Credit/index')}" class="moreproduct" target="_blank">+更多</a>
                    </ul>
                    <ul class="loan_con">
                       	{volist name="credit_loan" id="val"}
	                        <li {eq name="key" value="0"}class="active"{/eq}>
		                        {notempty name="val.loan_art"}
		                        	{volist name="val.loan_art" id="value"}
			                            <div class="item clearfix"> 
			                                <img src="{$value.picurl}">
			                                <p>{$value.title}</p>
			                                <div class="more_wrap"><a href="{:url('index/Credit/detail', ['id' => $value['id']])}" target="_blank" class="more">查看</a></div>
			                            </div>
		                            {/volist}
	                            {/notempty}
	                        </li>
                        {/volist}
                    </ul>
                </div>

                <div class="find_loan fr">
                    <h3 class="find_loan_ti fz18">快速查找贷款</h3>
                    <form method="get" id="serach1" action="" target="_blank" class="form">
                        <div class="item">
                            <div class="label fl">职业身份</div>
                            <select class="fastsearch-inp fr js-jobid" name="jobid">
                                <option value="">不限</option>
                                {volist name="Think.config.site.profession" id="vo"}
                                	<option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="item">
                            <div class="label fl">贷款金额</div>
                            <select class="fastsearch-inp fr js-loanmoney" name="loanmoney">
                                <option value="">不限</option>
                                {volist name="Think.config.site.limit_type" id="vo"}
                                	<option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="item">
                            <div class="label fl">贷款期限</div>
                            <select class="fastsearch-inp fr js-loanterm" name="loanterm">
                                <option value="">不限</option>
                                {volist name="site.deadline_type" id="vo"}
                                	<option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="item">
                        	<a href="javascript:void(0)" class="submit_btn js-searchbtn">搜索</a>
                        </div>
                        <p class="btm"><strong>50</strong>家合作银行&nbsp;&nbsp;<strong>200</strong>多信贷产品</p>
                    </form>
                </div>
				
            </div>
            
            <div class="part1_item">
                
                <div class="item_left fl">
                	<div class="xy_top fl">抵押贷</div>
                    <ul class="loan_sort loan_sort2 clearfix fz18">
                    	{volist name="mortgage_loan" id="vo"}
                    		<li {eq name="key" value="0"}class="active"{/eq}>{$vo.name}</li>
                    	{/volist}
                        <a href="{:url('index/House/more')}" class="moreproduct" target="_blank">+更多</a>
                    </ul>
                    <ul class="loan_con" style="min-height: 280px;">
                        <li class="active" style="min-height: 250px;">
	                    	{notempty name="mortgage_loan.0.loan_art"}
		                    	{volist name="mortgage_loan.0.loan_art" id="val"}
			                        <div class="item clearfix"> 
		                                <img src="{$val.picurl}">
		                                <p>{$val.title}</p>
		                                <div class="more_wrap">
		                                	{// 这里的逻辑判断非常死板且局限性很强无法拓展 }
		                                	{eq name="mortgage_loan.0.type" value="house_loan"}
		                                		<a href="{:url('index/House/detail', ['id' => $val['id']])}" target="_blank" class="more">查看</a>
	                                		{else/}
	                                			<a href="{:url('index/Car/detail', ['id' => $val['id']])}" target="_blank" class="more">查看</a>
	                                		{/eq}
		                                </div>
		                            </div>
		                        {/volist}
	                        {/notempty}
                        </li>
                        <li style="min-height: 250px;">
	                        {notempty name="mortgage_loan.1.loan_art"}
		                        {volist name="mortgage_loan.1.loan_art" id="val"}
			                        <div class="item clearfix"> 
		                                <img src="{$val.picurl}">
		                                <p>{$val.title}</p>
		                                <div class="more_wrap">
		                                	{// 这里的逻辑判断非常死板且局限性很强无法拓展 }
		                                	{eq name="mortgage_loan.1.type" value="house_loan"}
		                                		<a href="{:url('index/House/detail', ['id' => $val['id']])}" target="_blank" class="more">查看</a>
	                                		{else/}
	                                			<a href="{:url('index/Car/detail', ['id' => $val['id']])}" target="_blank" class="more">查看</a>
	                                		{/eq}
		                                </div>
		                            </div>
		                        {/volist}
	                        {/notempty}
                        </li>
                    </ul>
                </div>

                <div class="find_loan fr" style="min-height: 326px;">
                    <h3 class="find_loan_ti fz18">常用计算工具</h3>
                    <ul class="calculator clearfix">
                        <li class="li01 fl">
                        	<a href="{:url('index/Index/calculate', ['type' => 1])}" target="_blank"><img src="__CDN__/assets/img/frontend/cal1.png" /></a>
                        	<a href="{:url('index/Index/calculate', ['type' => 1])}" target="_blank">商业贷款计算器</a>
                        </li>
                        <li class="li02 fr">
                        	<a href="{:url('index/Index/calculate', ['type' => 2])}" target="_blank"><img src="__CDN__/assets/img/frontend/cal2.png" /></a>
                        	<a href="{:url('index/Index/calculate', ['type' => 2])}" target="_blank">提前还贷计算器</a>
                        </li>
                        <li class="li03 fl">
                        	<a href="{:url('index/Index/calculate', ['type' => 3])}" target="_blank"><img src="__CDN__/assets/img/frontend/cal3.png" /></a>
                        	<a href="{:url('index/Index/calculate', ['type' => 3])}" target="_blank">房贷担保费计算器</a>
                        </li>
                        <li class="li04 fr">
                        	<a href="{:url('index/Index/calculate', ['type' => 4])}" target="_blank"><img src="__CDN__/assets/img/frontend/cal4.png" /></a>
                        	<a href="{:url('index/Index/calculate', ['type' => 4])}" target="_blank">个人贷款计算器</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- part2 -->
        <div class="part part2">
        	<div class="ad_box">
            	<img src="__CDN__/assets/img/frontend/ad.png" class="ad_img">
            </div>
            <div class="part1_item">
                <div class="item_left fl">
                    <div class="xy_top">贷款攻略</div>
                    <ul class="loan_sort loan_sort2 clearfix fz18">
                    	{volist name="strategy_list" id="val"}
                        	<li {eq name="key" value="0"}class="active"{/eq}>{$val.name}</li>
                        {/volist}
                    </ul>
                    <ul class="loan_con">
                    	{volist name="strategy_list" id="val"}
                    		<li {eq name="key" value="0"}class="active"{/eq}>
                    			{notempty name="val.art_info"}
                    				<div class="strategy fl">
	                    				{volist name="val.art_info" id="value" offset="0" length='1'}
	                    					<div class="pic_text">
			                                    <a href="{:url('index/Strategy/detail', ['id' => $value['id']])}" class="img_a"><img src="{$value.thumb}"></a>
			                                    <div class="addt">
			                                        <span class="addtitle">
			                                            <a href="{:url('index/Strategy/detail', ['id' => $value['id']])}" target="_blank">{$value.title}</a>
			                                        </span><br>
			                                        <span class="addtmain">
			                                        	{gt name=":mb_strlen($value.content)" value="120"}
			                                        		{$value.content|str_replace='&nbsp;','',###|strip_tags|mb_substr=0,120}......
		                                        		{else/}
			                                        		{$value.content|str_replace='&nbsp;','',###|strip_tags}
			                                        	{/gt}
			                                        </span>
			                                    </div>
			                                </div>
	                    				{/volist}
                    					<div class="list">
		                    				{volist name="val.art_info" id="value" offset="1" length='8'}
				                                <a href="{:url('index/Strategy/detail', ['id' => $value['id']])}" target="_blank"><i class="dot_icon"></i>{$value.title}</a>
		                    				{/volist}
		                                </div>
                    				</div>
                    			{/notempty}
                    		</li>
                    	{/volist}
                    </ul>
                </div>
            	
            	<div class="find_loan fr">
	                <h3 class="find_loan_ti fz18">贷款问答</h3>
	                <div class="search_box">
	                	<input type="text" placeholder="请输入您的问题" class="search_input fl"/>
	                	<span class="js_search fl"><img src="__CDN__/assets/img/frontend/search.png"/></span>
	                </div>
	                <ul class="loan_con list wd_list">
                        <li class="active">
                        	{volist name="wd_list" id="val"}
	                        	<a href="{:url('index/Ask/detail', ['id' => $key])}" target="_blank"><i class="dot_icon"></i>{$val}</a>
	                        {/volist}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- part3 -->
        <div class="part hot_crew">
        	<p class="hot_crew_tit">优秀顾问</p>
            <ul class="ulWrap"> 
                <li>
                    <div class="pic"><a href="{:url('index/Index/adviser', ['id' => 1])}" target="_blank"><img src="__CDN__/assets/img/frontend/kf_photo.png"></a></div>
                    <div class="right">
                        <h5>陈政<span class="txt_city">受理深圳业务</span></h5>
                        <p class="tit_t">为客户服务是我的职责，让客户满意是我的追求，绝对是贷款服务一把手。</p>
                        <p class="tit_b">4007777711</p>
                    </div>
                </li>
                <li>
                    <div class="pic"><a href="{:url('index/Index/adviser', ['id' => 2])}" target="_blank"><img src="__CDN__/assets/img/frontend/kf_photo.png"></a></div>
                    <div class="right">
                        <h5>陈政<span class="txt_city">受理深圳业务</span></h5>
                        <p class="tit_t">为客户服务是我的职责，让客户满意是我的追求，绝对是贷款服务一把手。</p>
                        <p class="tit_b">4007777711</p>
                    </div>
                </li>
                <li>
                    <div class="pic"><a href="{:url('index/Index/adviser', ['id' => 3])}" target="_blank"><img src="__CDN__/assets/img/frontend/kf_photo.png"></a></div>
                    <div class="right">
                        <h5>陈政<span class="txt_city">受理深圳业务</span></h5>
                        <p class="tit_t">为客户服务是我的职责，让客户满意是我的追求，绝对是贷款服务一把手。</p>
                        <p class="tit_b">4007777711</p>
                    </div>
                </li>
                <li>
                    <div class="pic"><a href="{:url('index/Index/adviser', ['id' => 4])}" target="_blank"><img src="__CDN__/assets/img/frontend/kf_photo.png"></a></div>
                    <div class="right">
                        <h5>陈政<span class="txt_city">受理深圳业务</span></h5>
                        <p class="tit_t">为客户服务是我的职责，让客户满意是我的追求，绝对是贷款服务一把手。</p>
                        <p class="tit_b">4007777711</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- part4 -->
        <div class="part media" style="margin-top: 35px;">
            <ul>
                <li class="active">媒体报道</li>
                <li>合作机构</li>
                <li>资质认证</li>
                <li>城市贷款</li>
            </ul>
            <div class="par_list media1" style="padding: 20px;">
            	{volist name="media_list" id="v"}
	            	<div class="item">
		            	<img src="{$v.thumb}" width="160" height="103" class="fl" />
		            	<div class="con fr">
		            		<p class="tit">{$v.title}</p>
		            		<p class="txt">
		            			<span class="overflow_text">{$v.content|str_replace='&nbsp;','',###|strip_tags|mb_substr=0,120}</span><a href="{:url('index/About/mediaDetail', ['id' => $v['id']])}">[查看详情]</a></p>
		            	</div>
	            	</div>
            	{/volist}
            </div>
            <div class="par_list media2">
                <a><img src="__CDN__/assets/img/frontend/bank01.jpg" width="178" height="76"></a>
                <a><img src="__CDN__/assets/img/frontend/bank01.jpg"  width="178" height="76"></a>
                <a><img src="__CDN__/assets/img/frontend/bank01.jpg"  width="178" height="76"></a>
            </div>
            <div class="par_list media3">
                <img src="__CDN__/assets/img/frontend/zzrz01.jpg" style="margin-left:10px"  width="191" height="142">
                <img src="__CDN__/assets/img/frontend/zzrz02.jpg" width="191" height="142">
            </div>
            <div class="par_list media4">
                <a>广州贷款</a>
                <a>深圳贷款</a>
            </div>
        </div>
    </div>
    
    <div class="clearfix friendlink">
        <div class="link_t">
            <img src="https://staticcdn.zhudai.com/default/images/friend-link.png">友情链接：
        </div>
        <div class="link">
            <ul>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                <li><a target="_blank" href="http://www.taoqian123.com/">小额贷款</a></li>
                
            </ul>
        </div>
        <span class="show_hide fl js-show">显示∨</span>
    </div>
    
    {js href="__CDN__/assets/js/frontend/layui/layui.js" /}
    <script type="text/javascript">
        $(function(){	
            /*banner图轮播*/
            $(".slideBox").slide( {
                mainCell : ".bd ul",
                effect : "fade",
                autoPlay : true,
                trigger : "mouseover",
                easing : "swing",
                delayTime : 1500,
                mouseOverStop : true
            });

            $('#city_china').cxSelect({
                selects: ['province', 'city', 'area'],
                jsonSpace:'data',
                jsonValue:'value',
                jsonName: 'name'
            });

            layui.use('layer', function(){
                var layer = layui.layer;

                /*20秒 立即免费申请*/
                $("body").on("click", ".js-form-applybtn", function () {
                    var name = $("#truename").val();
                    var tel = $("#mobile").val();
                    var sex = $("#sex").val();
                    var provinceval = $(".province").val();
                    var cityval = $(".city").val();
                    var checkval = $(".agreen_check").is(':checked');
                    var nameres = /^[\u4E00-\u9FA5]{1,5}$/;
                   // var telres = /^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/;
                    var telres =  /^0?1[0-9]\d{9}$/;
                    if( name == '' || name == null ){
                        layer.tips('真实姓名不能为空！', '.js-realname', {
                            tips: [2, '#dd2727']
                        })
                        return;
                    }
                    else if( !name ){
                        layer.tips('真实姓名格式不正确！', '.js-realname', {
                            tips: [2, '#dd2727']
                        })
                        return;
                    }
                    else if( tel == '' || name == null ){
                        layer.tips('手机号码不能为空！', '.js-telphone',{
                            tips: [2, '#dd2727']
                        });
                        return;
                    }
                    else if( !telres.test(tel) ){
                        layer.tips('手机号码格式不正确！', '.js-telphone',{
                            tips: [2, '#dd2727']
                        });
                        return;
                    }
                    else if( provinceval == '' || cityval == '' ){
                        layer.tips('请选择城市！', '.apply-cityselect',{
                            tips: [2, '#dd2727']
                        });
                        return;
                    }
                    else if( !checkval ){
                        layer.tips('请同意服协议！', '.agreembox-li',{
                            tips: [2, '#dd2727']
                        });
                        return;
                    }
                    var loading = layer.load(0, {shade: false});

                    $.ajax({
                        url:'index/ajax/apply',
                        type:'POST',
                        async:true,
                        data:{
                            username:name,
                            cellphone:tel,
                            gender:sex,
                            area_id:cityval
                        },
                        timeout:5000,
                        dataType:'json',
                        success:function(d){
                            layer.close(loading);
                            if (d.code == "-1"){
                                layer.msg(d.msg);
                                return;
                            }
                            else{
                                $(".form_box").hide();
                                $(".complete_box").show();
                            }
                        },
                        error:function(){
                            layer.msg("请求异常");
                        }
                    })
                });

                /*问答搜索*/
                $("body").on("click", ".js_search", function () {
                	$.ajax({
                        url:'/index/Ajax/getAskSearchList',
                        type:'POST',
                        async:true,
                        data:{"title" : $('.search_input').val()},
                        timeout:5000,
                        dataType:'json',
                        success:function(d){
                        	if(d.code == 1){
                        		if(d.data.total == 0){
                        			$('.wd_list li').html("<p style='text-align: center;'>暂无搜索结果哦！</p>")
                        		}else{
		                        	var data = d.data.row || [];
		                        	var html = "";
		                        	for(var i=0; i<d.data.row.length; i++ ){
		                        		html += '<a href="ask/' + data[i].id +'.html" target="_blank"><i class="dot_icon"></i>' + data[i].title +'</a>';
		                        	}
		                            $('.wd_list li').html(html)
		                        }
	                        }
//                      	if(d.code == 0){
//                  			$('.wd_list li').html("<p style='text-align: center;'>暂无搜索结果哦！</p>")
//                  		}
                        },
                        error:function(){
                            layer.msg("请求异常");
                        }
                    })
                })
              
                /*快速搜索框*/
                $("body").on("click", ".js-searchbtn", function () {
//                  var jobid = $(".js-jobid").val();
//                  var loanmoney = $(".js-loanmoney").val();
//                  var loanterm = $(".js-loanterm").val();
                    
                    var jobid = $(".js-jobid option:selected").text();
                    var loanmoney = $(".js-loanmoney option:selected").text();
                    var loanterm = $(".js-loanterm option:selected").text();
					
                    var loading = layer.load(0, {shade: false});
                    var data = $("#serach1").serialize();

                    setTimeout(function(){
                        window.location.href = '/credit'+"?jobid="+jobid+"&loanmoney="+loanmoney+"&loanterm="+loanterm;
                    },800);
                });
            });

            /*tab切换*/
            $('.loan_sort1 li').hover(function(){
                var index = $(this).index();
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $(this).parent().nextAll('.loan_con').find('li').removeClass('active');
                $(this).parent().nextAll('.loan_con').find('li').eq(index).addClass('active');
            })
            $('.loan_sort2 li').hover(function(){
                var index = $(this).index();
                if($(this).text() == "房抵贷"){
                    $(this).parent().find('a').attr('href', "{:url('index/House/more')}");
                }else{
                    $(this).parent().find('a').attr('href', "{:url('index/Car/more')}");
                }
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $(this).parent().nextAll('.loan_con').find('li').removeClass('active');
                $(this).parent().nextAll('.loan_con').find('li').eq(index).addClass('active');
            })

            /*媒体报道*/
            $('.media ul li').hover(function(){
                var index = $(this).index() + 1;
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $(this).parent().nextAll('.par_list').hide();
                $(this).parent().nextAll('.media' + index).show();
            })

            /*友情链接*/
            $('.js-show').click(function(){
                if($('.friendlink').css('height') == "38px"){
                    $(this).text('隐藏∧');
                    $('.friendlink').css('height', 'auto')
                }else{
                    $(this).text('显示∨');
                    $('.friendlink').css('height', '38px')
                }
            })
        })
    </script>
{/block}