<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typedata" item="vo"}
                	<option data-type="{$vo.type}" value="{$key}" {in name="key" value=""}selected{/in} {eq name="vo.selected" value="0"}disabled="disabled"{/eq}>{$vo.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text">
        </div>
        	标题最多不能超过30个字符
    </div>
    <div class="form-group">
        <label for="c-limit" class="control-label col-xs-12 col-sm-2">额度:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[limit]', $limitdata, null, ['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-limit_range" class="control-label col-xs-12 col-sm-2">额度范围:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-limit_range" data-rule="required" class="form-control" name="row[limit_range]" type="text">
        </div>
        		例如：1~1500万
    </div>
    <div class="form-group">
        <label for="c-interest" class="control-label col-xs-12 col-sm-2">{:__('Interest')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-interest" data-rule="required" class="form-control" name="row[interest]" type="text">
        </div>
        	例如：0.77~0.83%
    </div>
    <div class="form-group">
        <label for="c-loan_time" class="control-label col-xs-12 col-sm-2">{:__('Loan_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_time" data-rule="required" class="form-control" name="row[loan_time]" type="text">
        </div>
        	例如：3~5天工作日
    </div>
    <div class="form-group">
        <label for="c-deadline" class="control-label col-xs-12 col-sm-2">{:__('Deadline')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[deadline]', $deadlinedata, null, ['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-deadline_range" class="control-label col-xs-12 col-sm-2">可贷周期:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-limit" data-rule="required" class="form-control" name="row[deadline_range]" type="text">
        </div>
        	例如：3-6个月
    </div>
    <div class="form-group">
        <label for="c-repayment_type" class="control-label col-xs-12 col-sm-2">{:__('Repayment_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[repayment_type]', $repaymenttypedata, null, ['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-profession" class="control-label col-xs-12 col-sm-2">职业身份:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[profession]', $professiondata, null, ['class'=>'form-control', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[picurl]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-editor" class="control-label col-xs-12 col-sm-2">产品详情介绍:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[introduce]" id="c-editor" data-rule="required" cols="60" rows="5" class="form-control editor"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>