<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}首页{/block}</title>
    {load href="__CDN__/assets/js/frontend/jquery.js,__CDN__/assets/js/frontend/layui/css/layui.css,__CDN__/assets/css/frontend/base.css,__CDN__/assets/css/frontend/index.css,__CDN__/assets/js/frontend/jquery.cxselect.js,__CDN__/assets/js/frontend/layui/layui.js" /}
</head>
<body>
{include file="common/header" /}
    
{block name="content"}{/block}

{include file="common/footer" /}