{extend name="layout/default" /}
{block name="title"}贷款问答{/block}
{block name="content"}
	{js href="__CDN__/assets/js/frontend/jquery.z-pager3.js" /}
	<!--贷款问答-->
	<div class="wrapper" style="overflow: hidden;">
		<div class="current_location">
			您当前的位置：<a href="/">首页</a>&nbsp;&gt;&nbsp;<span class="current">贷款问答</span>
		</div>
		<div class="house_con ask_con">			
            <div class="condition_left fl">
            	<div class="item_left" style="min-height: 365px;">
                    <div class="xy_top fl">
                    	<span>常见问题</span>
                    	<div class="s_box fr">
                    		<input type="text" placeholder="请输入您的问题" class="title_input"/><a class="js_search">搜索</a>
                    		<!--<form>
                    			<input type="text" placeholder="请输入您的问题" class="title_input"/><button type="submit" class="js_search">搜索</button>
                    		</form>-->
                    	</div>
                    </div>
                    <ul class="loan_con">
                        <li class="active list_con"></li>
                    </ul>
                </div>
				<div id="pager" class="pagination"></div>
			</div>
             {include file="common/right" /}
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			/*
			 **分页
			*/
			$('#pager').zPager({
				btnShow: false,
				url: 'ask',
				htmlBox: $('.list_con')
			});
			
			/*
			 **搜索
			*/
			$('.s_box').keyup(function(e){
				var curKey = e.which; 
				if(curKey == 13){ 
					$(".js_search").click(); 
					return false; 
				} 
			})
			$('.js_search').click(function(){
				var title = $('.title_input').val();
				$('#pager').zPager({
					btnShow: false,
					url: 'ask',
					htmlBox: $('.list_con'),
					title: title
				});
			})
		})
	</script>
{/block}